body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #a39f9fc3;
}


.app {
  max-width: 900px;
  margin: 0 auto;
  background: rgb(166, 187, 185);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


h1 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}


.content {
  display: flex;
  gap: 40px;
}


.episodes-section {
  flex: 1;
}


.details-section {
  flex: 1;
}


.episode-list {
  list-style: none;
  padding: 0;
}


.episode-list li {
  padding: 12px;
  border: 1px solid #6b8ac7;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.episode-list li:hover {
  background-color: #b8a9c6;
}


.episode-details h3 {
  color: #0b4b08;
}


.episode-details h4 {
  color: #2f060c;
  font-size: 1.3em;
}


.episode-details p {
  color: #1b0404;
  line-height: 1.6;
}


.select-message {
  color: #2a0b0b;
  font-style: italic;
}